<div id="<%= dom_id promo_item %>">
  <p>
    <strong>Name:</strong>
    <%= promo_item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= promo_item.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= promo_item.image %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= promo_item.price %>
  </p>

</div>
